<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Data" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Diagram.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Images" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Map.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Mvvm.CodeGenerators" version="22.1.1" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Scaffolding.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Scaffolding.EFCore" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Scheduler.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.SpellChecker.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Spreadsheet.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.TreeMap.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Utils" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Dialogs.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Scheduler" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.SchedulerReporting" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Accordion" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Carousel" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Charts" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Controls" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core.Extensions" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Diagram" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Dialogs" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Docking" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Gantt" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Gauges" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Printing" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.LayoutControl" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Map" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.NavBar" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Office" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PdfViewer" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PivotGrid" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PrismAdapters" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PropertyGrid" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Reporting" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Ribbon" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.RichEdit" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Scheduling" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.SchedulingReporting" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.SpellChecker" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Spreadsheet" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.TreeMap" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.TypedStyles" version="21.2.3" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="21.2.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>